html{
    font-size: 62.5%;
  }
  .container{
    border: 2px solid black;
  }
  
  @media(max-width: 80rem) {
    .container{
      width: 80vw;
      background: red;
      border: 2px solid green;
    }
  }
  
  @media(max-width: 50rem) {
    .container{
      width: 50rvw;
      background: gray;
      border: 2px solid pink;
    }
  }
  @media(max-width: 25rem)
  {
    .container{
      width: 25vw;
      height: 25vh;
    background: blue;
    }
    .container h2{
      font-size: 100%;
    }
  }
  